@import '../../scss/variables';

.header {
  background-color: $component-bg;
  width: 100%;
  padding: 10px 3%;
  display: flex;
  justify-content: space-between;

  .buttons {
    display: flex;
    gap: 8px;
  }
}